# Telegram Bot Configuration
# Get your token from @BotFather on Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=@RiseUp2u

# Web3 / Network Configuration
NETWORK=bscMainnet
CONTRACT_ADDRESS=0xFDF5B6986ee0AF2Ab5941C581F9eB641B52A9ED0
BSC_RPC_URL=https://binance.llamarpc.com
BSC_TESTNET_RPC_URL=https://bsc-testnet-rpc.publicnode.com

# Server Port (for hosting platforms like Render)
PORT=3000
